@import '../../style/reusablesStyles/commons.scss';
.loan__container {
  width: 95%;
}
.loan__form {
  border-radius: 5px;
  width: 100%;
  h3 {
    color: $primary-color;
  }
  label {
    .form__input__number::-webkit-inner-spin-button,
    .form__input__number::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    .form__input__number {
      width: 96%;
    }
    #loan__duration {
      margin-left: 2%;
    }
    .naira_symbol {
      color: $gray;
    }
  }
  &__button {
    color: $white;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 3px;
    background-color: $primary-color;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.4ms;
    &:hover {
      cursor: pointer;
      background-color: $button_hover;
    }
  }
  .cancel__button {
    margin-right: 0.6rem;
    color: $primary-color;
    background: $white;
    &:hover {
      border: 0.5px solid $primary-color;
    }
  }
}
@media (min-width: 550px) {
  .loan__container {
    width: 70%;
  }
}
@media (min-width: 850px) {
  .loan__container {
    width: 40%;
  }
}
